@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap');

/* 폰트 굵기 지정은 숫자로
피그마의 text스타일과 맞춰써주세요
 regular : 400, medium : 500, bold : 700 */

*{
  font-family: 'Noto Sans KR', 'Playfair Display';
}

.navbar-brand{
  font-size: 20px !important;
  font-weight: 700;
  margin-left: 10px;
}
.navbar-toggler {border:0 !important;}
.nav-link{
  font-size: 20px !important;
  color: #000 !important;
  font-weight: 500 !important;
  margin-left: 10px;
  margin-right: 30px;
}
.dropdown-item {font-size:18px}

/* footer */
.footer{
  margin-top: 10.625rem;
  margin-bottom:3.125rem;
}
.Ftext{
  display:inline-block;
  color:#000;
  font-size: 1.125rem;
  font-weight: 500;
  margin-right: 2.625rem;
  margin-bottom:30px;
}
.FSubtext {
  font-size: 1.125rem;
}

@media (min-width: 992px) {
  .Ftext{
    margin-right: 60px;
  }
}


/* by 김은주 - 서브페이지 화면명+이미지 2023-02-23 */
.subvisual {padding:2.5rem 0 1.125rem}
.subvisual h1 {font-weight:500;padding-bottom:1.125rem}
@media (min-width: 992px) {
  .subvisual {padding:10.438rem 0 4.25rem}
  .subvisual h1 {padding-bottom:4.563rem}
}